<?xml version="1.0" encoding="utf-8" standalone="no"?><manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="5" android:versionName="2.3" package="com.jm.fxw">

    <supports-screens android:anyDensity="true" android:largeScreens="true" android:normalScreens="true" android:resizeable="true" android:smallScreens="true"/>

    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="10"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.RECORD_AUDIO">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <!-- SDK离线地图和cache功能需要读写外部存储器 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_PHONE_STATE">
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
    </uses-permission>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS">
    </uses-permission>
    <uses-permission android:name="android.permission.READ_LOGS">
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION">
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS"/>

    <application android:allowBackup="true" android:icon="@drawable/logo" android:label="@string/app_name" android:name="ClientApp" android:theme="@style/AppTheme">
        <meta-data android:name="com.amap.api.v2.apikey" android:value="a6598232f716cd881981fcd548ce061b"/>

        <activity android:label="@string/app_name" android:name="com.jm.fxw.MainActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTask" android:name="com.tencent.tauth.AuthActivity" android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data android:scheme="tencent100478968"/>
            </intent-filter>
        </activity>
        <activity android:launchMode="singleTop" android:name="com.jm.fxw.HairInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTop" android:name="com.jm.fxw.HairItemInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.LoginUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.WodeUI_User" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PriceListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.HelpUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.OpinionUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ZhaoPinInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ZhuanRangInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.HuaTiInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.citylist.CityList" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueSheZhi" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.WodeUI_Hairer" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTop" android:name="com.jm.fxw.DianPuInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueUI_User" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueUI_Haier" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.RatingListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.MsgUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.MyQuestionListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.MyAnswerListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTop" android:name="com.jm.fxw.HisInfoUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicPortfolio" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicNewsList" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicJobUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicZhuanRangUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicQuestionUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.LikeListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTop" android:name="com.jm.fxw.WorkListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ImageInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:label="@string/fenlei" android:name="com.jm.fxw.CommentUI" android:screenOrientation="portrait" android:theme="@style/Translucent_NoTitle">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.GuangChangUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.TipsSettingUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueCheck" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.UserListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:name="com.jm.fxw.DongTaiUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.TongChengUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ZhaofaxingUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.FaxingshiUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.RatingUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity android:configChanges="orientation|keyboardHidden" android:name="com.jm.fxw.MapActivity" android:screenOrientation="portrait">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.SettingUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.RenZheng" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ChangeInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ZhaoFaXingListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.QuestionUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.JobListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ZhuanRangListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.JiShuHuaTiUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicNsewsList" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.NewUserInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.QingBaoUI_User" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.QingBaoUI_Haier" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.QingBaoInfo" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTop" android:name="com.jm.fxw.CollectListUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ChatUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.ChatQuestionUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.PublicJiShuHuaTi" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar" android:windowSoftInputMode="stateHidden|adjustResize">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.GalleryUI" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueInfoUI_Haier" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>
        <activity android:launchMode="singleTask" android:name="com.jm.fxw.YuYueInfoUI_User" android:screenOrientation="portrait" android:theme="@android:style/Theme.Black.NoTitleBar">
        </activity>

        <service android:enabled="true" android:name="com.baidu.location.f" android:process=":remote">
        </service>
        <service android:name="com.jm.service.PushService"/>

        <meta-data android:name="CNZZ_APP_KEY" android:value="cnzz.a_pmpyc9i74iwdu8jvmy4yioz3"/>
        <meta-data android:name="CNZZ_CHANNEL_ID" android:value="豌豆荚"/>
    </application>

</manifest>